.ReviewPage {
  padding-top: 70px;
}

.PosterSection {
  position: relative;
}

.PosterImage {
  /*max-width: 100%;*/
  /*max-height: 100%;*/
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.EditReviewIcon {
  z-index: 2;
  height: 50px;
  width: 50px;
  position: absolute;
  bottom: -20px;
  right: 20px;
}

.MovieTitleSection {
  position: absolute;
  margin: 0;
  bottom: 4px;
  width: 100%;
  border-radius: 10px;
  /* FF3.6-15 */
  background: -webkit-linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,.65) 40%, rgba(0,0,0,1) 100%);
  background: -o-linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,.65) 40%, rgba(0,0,0,1) 100%);
  /* Chrome10-25,Safari5.1-6 */ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  background: linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,.65) 40%, rgba(0,0,0,1) 100%);
}

.MovieTitleText {
  font-family: Optima;
  color: white;
  padding-left: 10px;
  margin-bottom: 5px;
  margin-top: 30px;
}

.ReviewInfo {
  margin-left: -30px;
}

.ReviewInfo p {
  font-family: Optima;
}

.ReviewUsername {
  margin: 0;
}

.ReviewPublish {
  margin: -10px 0 0 0;
  color: #bcbcbc;
}

.ProfileBadge {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.ReviewContent {
  margin-top: -10px;
}

.ReviewText {
  margin-top: 5px;
}
