/* Remove shading since it's not rounded */
.mdc-fab:not(.mdc-ripple-upgraded) {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
  }
  
  .ReviewFormPage {
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .FormHeader {
    padding-top: 60px;
  }
  
  .ReviewForm {
    margin-top: -20px;
  }
  
  .ReviewForm div {
    width: 100%;
  }
  
  .BackButtonSection {
    display: flex;
    align-items: center;
    color: #9b9b9b;
    cursor: pointer;
  }
  
  .BackButton {
    font-size: 20px;
  }
  
  .BackIcon {
    padding: 0;
    color: #9b9b9b;
  }
  
  .ImageCircle {
    border-radius: 50%;
    height: 100px;
    width: 100px;
  }
  
  .Username {
    margin: 0 0 0 8px;
  }
  
  /*.Toggled {
    color: black;
  }
  
  .NotToggled {
    color: white;
  }*/
  
  /*.ThumbUpIcon {
    background-color: #d8d8d8;
    border-radius: 20%;
    padding: 5px;
    height: 35px;
    width: 35px;
  }
  
  .ThumbDownIcon {
    background-color: #d8d8d8;
    margin-left: 10px;
  }*/
  
  .AddSection {
    display: flex;
    align-items: center;
    color: #bcbcbc;
    margin-top: -15px;
    margin-left: -5px;
  }
  
  .AddIcon {
    margin-left: -2px;
  }
  
  .AddLabel {
    /*color: #bcbcbc;*/
    margin: 5px 0 5px 3px;
  }
  
  .CommentField {
    display: flex;
    margin-top: 10px;
  }
  
  .CommentField i {
    background-color: #d8d8d8;
    border-radius: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
  }
  
  .LikeIcon {
    margin-left: -5px;
    color: green;
  }
  
  .DislikeIcon {
    color: white;
  }
  
  .LongReview {
    height: 200px !important;
  }
  
  .SubmitReviewForm {
    position: absolute;
    right: 20px;
    top: 15px;
    color: #9b9b9b;
    font-size: 20px;
    cursor: pointer;
    z-index: 2;
  }
  